In [1]:
import pandas as pd

In [3]:
# creation of dataframe
# A DataFrame is a table.
# Each entry corresponds to a row (or record) and a column.
pd.DataFrame({'Yes': [10, 20], 'No': [11, 21]})

   Yes  No
0   10  11
1   20  21

In [4]:
pd.DataFrame({'Tushar': ['I didnt like it.', 'It was awful.'], 'Shekhar': ['Pretty good.', 'Great Taste.']})

             Tushar       Shekhar
0  I didnt like it.  Pretty good.
1     It was awful.  Great Taste.

In [5]:
#creation of series
#A Series is a sequence of data values.
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
#assigning row labels
pd.DataFrame({'Tushar': ['I liked it.', 'It was awful.'], 
              'Shekhar': ['Pretty good.', 'Great Taste.']},
             index=['Product A', 'Product B'])

                  Tushar       Shekhar
Product A    I liked it.  Pretty good.
Product B  It was awful.  Great Taste.

In [10]:
#reading as csv file using pandas
annualsurvey=pd.read_csv("survey.csv")

In [11]:
annualsurvey

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [12]:
#final total rows and col of data
annualsurvey.shape

(32445, 10)

In [14]:
#avoiding creation of first column
annual=pd.read_csv("survey.csv",index_col=0)
annual.head()#printing five values

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...